body{
    background-color: #eee;
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    border: 2px solid #fff;
    background: #fff;
    margin-bottom: 10px;
}

header {
    text-align: center;
    padding: 100px;
    background-image: url("resources/pika.jpg");
    background-repeat: no-repeat;
    background-position: center -420px;
    background-size: 1500px;
    cursor: default;
    display: grid;
    border-bottom: 2px solid #fff;
}

.bar {
    background-color: #eee;
    padding: 4px;
    display: flex; /* Añadido */
    justify-content: left; /* Añadido */
}

nav .home {
    font-family: 'Tinos', serif;
    font-weight: bolder;
    color: #333333;
    text-decoration: underline;
    margin: 0px 60px;
}

main {
    margin: 0px 60px;
}

.frase p {
    font-family: 'Tinos', serif;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    color: #333333;
    font-style: italic;
}

/*.highlight {  agregar como codigo de scripts
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    font-size: 10px;
}
*/ 