body{
    background-color: #d3dde6;
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

.container {
    margin: 20px auto;
    flex-direction: column;
    max-width: 1100px;
    border: 2px solid #fff;
    background: #fff;
    margin-bottom: 10px;
}

header {
    display: grid;
    height: 200px;
    background-image: url("resources/pika.jpg");
    background-repeat: no-repeat;
    background-position: left -250px;
    background-size: 1100px;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

header a {
    display: block;
    width: 100%;
    height: 100%;
}

.bar {
    background-color: #eee;
    padding: 4px;
    display: flex; /* Añadido */
    justify-content: left; /* Añadido */
}

nav .home {
    color: #333333;
    font-family: 'Tinos', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    margin: 0px 20px;
}

.content {
    display: flex;
    height: 1000px;
    border-bottom: 2px solid #fff;
}   

.centerbox {
    width: 1100px;
}

.frase p {
    font-family: 'Tinos', serif;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px 5px 0px;
    font-style: italic;
    margin: 0px 20px;
}

aside {
    display: grid;
    margin-top: 2px;
    background-color: #eee;
    width: 160px;
    font-size: 0.9em;
    height: 1000px;
    
}

.side {
    list-style-type: none;
    padding-inline-start: 0;
    line-height: 2.0em;
}

.chapter {
    font-weight: bold; 
    margin: 0px 25px;
}

.item {
    display: flex;
    margin: 0px 33px;
}

.toggle {
    cursor: pointer;
    margin-inline-start: auto;
}

.item a {
    color:#7a7a7a;
    text-decoration: none;
}

.undefined {
    color: #7a7a7a;
}

/*.highlight {  agregar como codigo de scripts
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    font-size: 10px;
}
*/ 